<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <title>Registro peliculas</title>

    </head>


    <body>
        <section>
            <form class="form-register" method='POST'>
                <h4>Formulario Registro</h4>
                <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre pelicula" required>
                <input class="controls" type="text" name="genero" id="genero" placeholder="Genero" required>
                <input class="controls" type="text" name="director" id="director" placeholder="Director" required>
                <input class="boton" type="submit" value="Agregar">
            </form>
            

            <div class="tablafin">
                <table class="pelitabfil">
                    <thead>
                        <tr>
                            <th class="tablefil">Nombre</th>
                            <th class="tablefil">Genero</th>
                            <th class="tablefil">Director</th>
                        </tr>
                    </thead>

                    <tbody class="table-hover">
                        {% for ele in datos %}
                            <tr>
                                <td class="tablecol">{{ele["nombre"]}}</td>
                                <td class="tablecol">{{ele["genero"]}}</td>
                                <td class="tablecol">{{ele["director"]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="botontab" href="{{url_for('borrar')}}">Eliminar</a>
            </div>
        </section>
    </body>



</html>